<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>Deleção</title>


</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/listagem">LISTAGEM</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/insercao">NOVO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/graficos">GRAFICOS</a>
			</li>
		</ul>	
	</nav>
	<br>
	<div class="container">
		<h2>Deleção</h2>
		<form action="/salvar_delecao" method="POST" name="frm_delecao" class="ml-3">
			<input type="hidden" name="id" value="{{pessoa.id}}">
			<div class="form-group">
				<label for="nome">Nome:</label>
				<input type="text" class="form-control" name="nome" value="{{pessoa.nome}}"
				disabled="true">
			</div>
			<div class="form-group">
				<label for="idade">Idade:</label>
				<input type="number" class="form-control" name="idade" min="1" max="125" value="{{pessoa.idade}}" disabled="true">
			</div>
			<div class="form-group">
				<select class="form-control" name="sexo" disabled="true">
					<option value="M">Sexo: Masculino</option>
					<option value="F">Sexo: Feminino</option>
				</select>
			</div>
			<div class="form-group">
				<label for="salario">Salário:</label>
				<input type="text" class="form-control" name="salario" value="{{pessoa.salario}}" 
				disabled="true">
			</div>

			<a href="/listagem" class="btn btn-secondary" role="button">Cancelar</a>
			<button type="submit" class="btn btn-danger">Deletar</button>
		</form>
	</div>
	<script>
		const sexo= document.getElementsById('sexo')[0];
		sexo.value="{{pessoa.sexo}}";
	</script>
</body>
</html>